<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtl.mapper.OrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.jtl.pojo.OrderStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="order_status" property="orderStatus" jdbcType="CHAR" />
    <result column="created_time" property="createdTime" jdbcType="CHAR" />
    <result column="pay_time" property="payTime" jdbcType="CHAR" />
    <result column="deliver_time" property="deliverTime" jdbcType="CHAR" />
    <result column="success_time" property="successTime" jdbcType="CHAR" />
    <result column="close_time" property="closeTime" jdbcType="CHAR" />
    <result column="comment_time" property="commentTime" jdbcType="CHAR" />
  </resultMap>
</mapper>